@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');
*{
  margin:0px;
  padding:0px;
  background-color: #fff;
  list-style-type:none;
  text-decoration: none;
  font-family: 'Baloo 2', cursive;
}
.Navigation{
  height:120px;
  background-color: #fff;
  /* box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); */
  border-bottom: 2px solid orangered;
  display: flex;
  justify-content:space-between;
  padding:0px 50px;
  z-index:999 !important;
  position: sticky;
  top:0;
}
.Logo{
  margin-top: 16px;
  height:150px;
}
.Nav_nav{
  display: flex;
  justify-content:center;
  align-items: center;
}
.NavUL{
  display: flex;
}
.NavLink{
  font-size:18px;
  margin:0px 20px;
  color: #343a40;
  font-weight: 500;
}
.NavLink:hover{
  color: #ca331b;
}
.BodyContent{
  display: flex;
  justify-content:space-between;
}
.bContentOne{
  width:25vw;
  background-color:#fff;
  position: fixed;
  top:120px;
  height:100%;
}
.bContenttwo{
  width:75vw;
  margin-left: 25vw;
  background-color:#cfcfcf;
  height:1500px;
}
/*! Test */
.ContainerService{
  margin: 90px 0px 0px 65px;
}
.TitleContent{
  font-size:20px;
  color: #ffff;
  padding:10px 10px 10px 65px;
  background-color: orangered;
  margin:0px 25px 20px -65px;
  border: none;
  border-top-right-radius:05px;
  border-bottom-right-radius:05px;
}
.ServiceContentWrap{
  margin:10px 0px;
}
.ServiceContent{
  font-size:16px;
  color: #343a40;
  font-weight:500;
}
.ServiceContent:hover{
color: orangered;
}