@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');
*{
  margin:0px;
  padding:0px;
  background-color: #fff;
  list-style-type:none;
  text-decoration: none;
  font-family: 'Baloo 2', cursive;
}
.Navigation{
  height:120px;
  background-color: #fff;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content:space-between;
  padding:0px 70px;
  z-index:999 !important;
  position: sticky;
  top:0;
}
.Logo{
  height:120px;
}
.Nav_nav{
  display: flex;
  justify-content:center;
  align-items: center;
}
.NavUL{
  display: flex;
}
.NavLink{
  font-size:18px;
  margin:0px 20px;
  color: #343a40;
  font-weight: 500;
}
.NavLink:hover{
color: #ca331b;
}
.BodyContent{
  display: flex;
  justify-content:space-between;
  background-color: #000;
}
.bContentOne{
  width:30vw;
  background-color: royalblue;
}
.bContenttwo{
  width:70vw;
  background-color: lightcoral;
}